.mouse {
    display: inline-block;
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 60px;
}
.mouse > .wheel {
    display: inline-block;
    width: 3px;
    height: 8px;
    margin-top: 30px;
    background: #fff;
    border-radius: 2px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes scroll {
    0% {margin-top: 10px; opacity: 1;}
    100% {margin-top: 35px; opacity: 0;}
}